.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#form-package-upload {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 5;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
}

.flat-blue .step .nav-tabs>li:before,
.flat-blue .step .nav-tabs>li:after {
    z-index: 3 !important;
}

.card-footer {
    padding: 20px;
    border-top: 1px solid #DDDDDD;
}