<div class="card">
    <div class="card-body">

        <div class="row">
            <div class="col-md-12">
                <h5>Catering:</h5>
                <ul>
                    <li>Reservation must be made <strong>2 to 3 days ahead</strong> before the date.</li>
                    <li>Customers need to pay within <strong>2 to 3 days from date</strong> the customer has reserved or else it will be automatically cancelled.</li>
                    <li>Cancellation must be made ahead of time.</li>
                    <li><strong>Minimum of 20 people</strong> for each reservation.</li>
                    <li>There will be an additional of <strong>₱250</strong> per head when exceed from the original number of person.</li>
                    <li>Each catering will run <strong>4 hours</strong>.</li>
                    <li>
                        <strong>Monday to Thursday &mdash; ₱5,000</strong>
                        (when <strong>exceed</strong> there will be an <strong>additional of ₱1,000</strong> per hour)
                    </li>
                    <li>
                        <strong>Friday to Sunday &mdash; ₱7,000</strong>
                        (when <strong>exceed</strong> there will be an <strong>additional of ₱1,000</strong> per hour)
                    </li>
                </ul>

                <p>Table:</p>
                <ul>
                    <li>Reservation must be made at least a day ahead before the date.</li>
                    <li>Cancellation must be made ahead of time </li>
                    <li>Customers will be given an hour for their table reservation or else it will be automatically cancelled.</li>
                </ul>

                <h4>Buffet</h4>
                <h5>Set A: P250/head (Minimum of 20 people)</h5>
                <ul>
                    <li>3 Dishes</li>
                    <li>Soup</li>
                    <li>Rice</li>
                    <li>Dessert or Salad</li>
                    <li>Soft Drinks</li>
                    <li>Set-Up</li>
                </ul>

                <h5>Set B: P350/head (Minimum of 20 people)</h5>
                <ul>
                    <li>4 Dishes</li>
                    <li>Soup</li>
                    <li>Rice</li>
                    <li>Dessert or Salad</li>
                    <li>Soft Drinks</li>
                    <li>Set-Up</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-sm-12" style="margin-bottom: 0;">
                <button type="button" ng-click="toCheckDate()" class="btn btn-primary pull-right">Next</button>
            </div>
        </div>
    </div>
</div>