<div class="card" ng-controller="MenuController as menu">
    <form ng-submit="menu.submitDetails()">

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="" ng-class="{'active': $index == menu.index_num}" ng-repeat="category in menu.categories">
                <a href="/#{{ category.id }}" role="tab" data-toggle="tab">{{ category.name }}</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" ng-class="{'active': $index == menu.index_num}" id="{{ category.id }}" ng-repeat="category in menu.categories">

                <div class="row">
                    <div class="col-md-3" ng-repeat="x_menu in category.menus">
                        <div class="thumbnail no-margin-bottom">
                            <img src="/images{{ x_menu.image ? '/menus/' + x_menu.image : '/defaults/menu.png' }}" class="img-responsive">
                            <div class="caption">
                                <h4 id="thumbnail-label">{{ x_menu.name }}</h4>
                                <p>₱{{ x_menu.price }}</p>
                                <p ng-show="x_menu.best_seller == 1"><i class="fa fa-check"></i> Best seller</p>

                                <button ng-click="menu.toggleItem(x_menu.id)" id="btn-{{ x_menu.id }}" type="button" class="btn btn-default btn-sm" role="button">Select</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="card-footer">
            <div class="row">
                <div class="col-sm-12" style="margin-bottom: 0;">
                    <span class="text-danger" ng-bind="menu.err_msg"></span>
                    <button type="submit" class="btn btn-primary pull-right">Next</button>
                </div>
            </div>
        </div>

    </form>
</div>