<div class="card" ng-controller="ReviewController as review">
    <form ng-submit="review.submitDetails()">

        <div class="card-body">
            <div class="row">
                <div class="col-md-6">

                    <div class="row">
                        <div class="col-sm-6"><label>Reservation Type:</label></div>
                        <div class="col-sm-6">
                            <span ng-bind="review.lbl_type"></span>
                            <input type="hidden" ng-model="review.type">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6"><label>Start Date:</label></div>
                        <div class="col-sm-6">
                            <span ng-bind="review.lbl_start_date | date: 'MM/dd/yyyy hh:mm a'"></span>
                            <input type="hidden" ng-model="review.start_date">
                        </div>
                    </div>

                    <div class="row" ng-show="review.type == 'catering'">
                        <div class="col-sm-6"><label>End Date:</label></div>
                        <div class="col-sm-6">
                            <span ng-bind="review.lbl_end_date | date: 'MM/dd/yyyy hh:mm a'"></span>
                            <input type="hidden" ng-model="review.end_date">
                        </div>
                    </div>

                    <div class="row" ng-show="review.type == 'catering'">
                        <div class="col-sm-6"><label>No. of Hours:</label></div>
                        <div class="col-sm-6">
                            <span ng-bind="review.lbl_hours"></span>
                            <input type="hidden" ng-model="review.hours">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6"><label>No. of Persons:</label></div>
                        <div class="col-sm-6">
                            <span ng-bind="review.lbl_persons"></span>
                            <input type="hidden" ng-model="review.persons">
                        </div>
                    </div>

                    <div class="row" ng-show="review.type == 'catering'">
                        <div class="col-sm-6"><label>Set:</label></div>
                        <div class="col-sm-6">
                            <span ng-bind="review.lbl_set"></span>
                            <input type="hidden" ng-model="review.set">
                        </div>
                    </div>

                    <div>
                        <label>Menu Selected:</label>
                        <ul>
                            <li ng-repeat="menu in review.menus track by $index">
                                {{ menu.name }}
                                {{ review.type === 'table' ? '- ₱' + menu.price : '' }}
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6"><label>Total Payment:</label></div>
                        <div class="col-sm-6">
                            <span ng-bind="review.lbl_total_price"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer review-footer">
            <div class="row">
                <div class="col-sm-12" style="margin-bottom: 0;">
                    <span class="text-danger" ng-bind="menu.err_msg"></span>
                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                </div>
            </div>
        </div>

    </form>
</div>