<style>
    .card {
        overflow: visible !important;
    }
</style>

<div class="card" ng-controller="CheckDateController as check">
    <form name="checkDateForm" ng-submit="check.submitDetails()">

        <div class="card-body" style="min-height: 350px;">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">

                    <div class="form-group">
                        <label><span class="text-danger">*</span> Reservation Type:</label>
                        <div class="input-group">
                            <div class="radio3 radio-check radio-inline">
                                <input type="radio" id="rdo-catering" name="type" ng-model="check.type" ng-click="check.selectType('catering')" ng-value="'catering'">
                                <label for="rdo-catering">
                                    Catering
                                </label>
                            </div>
                            <div class="radio3 radio-check radio-inline">
                                <input type="radio" id="rdo-table" name="type" ng-model="check.type" ng-click="check.selectType('table')" ng-value="'table'">
                                <label for="rdo-table">
                                    Table
                                </label>
                            </div>
                        </div>
                        <span class="text-danger" ng-show="checkDateForm.type.$error.required">This field is required.</span>
                    </div>

                    <div class="form-group" ng-show="check.type == 'catering'">
                        <label><span class="text-danger">*</span> Set:</label>
                        <div class="input-group">
                            <div class="radio3 radio-check radio-inline">
                                <input type="radio" id="rdo-set-a" name="set" ng-model="check.set" ng-value="'A'">
                                <label for="rdo-set-a">
                                    A
                                </label>
                            </div>
                            <div class="radio3 radio-check radio-inline">
                                <input type="radio" id="rdo-set-b" name="set" ng-model="check.set" ng-value="'B'">
                                <label for="rdo-set-b">
                                    B
                                </label>
                            </div>
                        </div>
                        <span class="text-danger" ng-show="checkDateForm.type.$error.required">This field is required.</span>
                    </div>

                    <div class="form-group" ng-show="check.type">
                        <label><span class="text-danger">*</span> Event Date:</label>
                        <div class="input-group date" id="event_date">
                            <input
                                type="text"
                                class="form-control "
                                ng-model="check.date"
                            />
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group" ng-show="check.type == 'catering'">
                        <label><span class="text-danger">*</span> No. of Hours:</label>
                        <div class="input-group">
                            <input type="number" ng-model="check.hours" name="hours" class="form-control" required>
                            <span class="input-group-addon" data-toggle="tooltip"
                                  data-placement="right"
                                  title="We need to determine how many hours will your event run so we could check date and time's availability.">
                                <i class="fa fa-question"></i>
                            </span>
                        </div>
                        <span class="text-danger" ng-show="checkDateForm.hours.$error.required">This field is required.</span>
                    </div>

                    <div class="form-group">
                        <button type="button" ng-show="check.type == 'catering'" ng-click="check.checkDate()" class="btn btn-default btn-block">
                            <i class="fa fa-check"></i> Check Date Availability
                        </button>
                        <span class="text-danger" ng-bind="check.chk_date_msg_err"></span>
                        <span class="text-success" ng-bind="check.chk_date_msg_suc"></span>
                    </div>

                    <div class="form-group" ng-show="check.ready('persons')">
                        <label><span class="text-danger">*</span> No. of Persons:</label>
                        <input type="number" ng-model="check.persons" class="form-control ">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-sm-12" style="margin-bottom: 0;">
                    <span class="text-danger" ng-bind="check.submit_msg"></span>
                    <button type="submit" class="btn btn-primary pull-right">Next</button>
                </div>
            </div>
        </div>

    </form>
</div>